main {
    grid-area: main;
    margin: 0 4rem;
    /*margin-top: 0;*/
}

h1 {
    text-align: center;
    padding: 1.8rem;
    font-family: 'Permanent Marker', cursive;
    font-size: 2.3rem;
}

hr {
    border-bottom: 2px solid #fff;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

h2 {
 text-align: center;
 margin: 1rem;
 font-size: 2rem;
}

blockquote {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.quote {
    font-size: 1.5rem;
    text-align: center;
    color: #850d71;
    font-style: italic;
    font-weight: bold;
}

article {
    margin: 2rem 8rem;
    font-size: 1.5rem;
    text-align: justify;
}

article p {
    padding-top: 1rem;
}

@media (max-width: 960px) {
    main {
        margin: 0 1rem;
    }

    article {
        font-size: 1.3rem;
        margin: 1.5rem 5rem;
    }
}

@media (max-width: 560px) {
    h1 {
        font-size: 2rem;
    }
    
    h2 {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 1.3rem;
        text-align: center;
    }
    
    .quote {
        font-size: 1.2rem;
    }

    article {
        font-size: 1.1rem;
        margin: 1rem 2rem;
    }
}
